.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  user-select: none;
}

.hiddenCheckbox {
  --active: #66c61c;
  --active-inner: #fff;
  --focus: 2px rgba(75, 254, 39, 0.3);
  --border: #bbc1e1;
  --border-hover: #325f15;
  --background: #fff;
  --disabled: #f6f8ff;
  --disabled-inner: #e1e6f9;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  transition:
    background 0.3s,
    border-color 0.3s,
    box-shadow 0.2s;
}

.hiddenCheckbox:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  transition:
    transform var(--d-t, 0.3s) var(--d-t-e, ease),
    opacity var(--d-o, 0.2s);
}

.hiddenCheckbox:checked {
  --b: var(--active);
  --bc: var(--active);
  --d-o: 0.3s;
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.hiddenCheckbox:disabled {
  --b: var(--disabled);
  cursor: not-allowed;
  opacity: 0.9;
}

.hiddenCheckbox:disabled:checked {
  --b: var(--disabled-inner);
  --bc: var(--border);
}

.hiddenCheckbox:hover:not(:checked):not(:disabled) {
  --bc: var(--border-hover);
}

.hiddenCheckbox:focus {
  box-shadow: 0 0 0 var(--focus);
}

.hiddenCheckbox:not(.switch) {
  width: 21px;
  border-radius: 5px;
}

.hiddenCheckbox:not(.switch):after {
  width: 5px;
  height: 9px;
  border: 2px solid var(--active-inner);
  border-top: 0;
  border-left: 0;
  left: 7px;
  top: 4px;
  transform: rotate(var(--r, 20deg));
  opacity: var(--o, 0);
}

.hiddenCheckbox:not(.switch):checked {
  --r: 43deg;
  --o: 1;
}

.checkboxLabel {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  font-size: 0.875rem;
  color: #5d5d5d;
}
