@media (min-width: 768px) {
  /* md breakpoint (tablets ou maiores) */
  .pxResponsive {
    padding-left: 3%;
    padding-right: 3%;
  }
}

/* Para dispositivos menores que 768px (mobile) */
@media (max-width: 767px) {
  .pxResponsive {
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
  }
  .playerVideo {
    width: 100%;
  }
}
