.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.embla {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  position: relative;
}

.embla__imageWrapper {
  position: relative;
  width: 100%;
}

.embla__imageWrapperDesktop {
  height: 500px;
}

.embla__imageWrapperMobile {
  height: 500px;
}

.embla__image {
  object-fit: cover;
}

.embla__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 0 10px;
}

.embla__button {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.embla__button:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);
}

.embla__button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.embla__buttonPrev {
  left: 16px;
  position: absolute;
}

.embla__buttonNext {
  right: 16px;
  position: absolute;
}
