.card {
  position: relative;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  border: 1px solid #ececec;
}

.card:hover {
  transform: translateY(-5px) scale(1.05);
  background-color: #ff202a; /* Fundo ao hover */
  color: #fff; /* Texto branco ao hover */
}

/* Imagem principal */
.cardImage {
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

/* Imagem de hover, caso exista */
.cardImageHover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: 20;
}

/* Some a imagem normal no hover e mostra a de hover */
.card:hover .cardImage {
  opacity: 0;
}

.card:hover .cardImageHover {
  display: block;
  opacity: 1;
}
